.main-content{
  position: relative;
}

section.session-form {
  display: block;
  position: absolute;;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  background: #F3F4F4;
  border: 1px solid #ddd;
  width: 40%;
  max-width: 430px;
  min-width: 200px;
}

.session-form > h2 {
  text-align: center;
  font-weight: 700;
  margin: 20px 20px 0 20px;
  font-size: 16px;
  color: #444
}

.login-box {
  font-size: 14px;
  color: #888;
  padding: 20px;
}

.login-box label, input {
  display: block;
}

.login-box label {
  margin-left: 5%;
  margin-bottom: 15px;
}

.login-box input {
  margin-top: 2px;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  padding: 8px 7px;
  background: white;
  width: 90%;
}

input.submit-button {
   margin: 20px auto;
   margin-top: 20px;
   width: 50%;
   text-align: center;
   background: #5483AE;
   color: white;
   text-transform: uppercase;
   border: 0;
}

button.guest-button {
  display: block;
  margin: 0 auto;
  font-size: 13px;
  color: #72a2cd;
}

ul.error-display {
  margin: 0 auto;
  width: 80%;
}
