.application-header {
  background: #3E7293;
  border-bottom: 1px solid #212121;
  color: white;
}

.header-logo-light {
  margin: 6px 13px;
  float: left;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.header-logo-light img {
  position: relative;
  display: inline-block;
  width: 20px;
  height: auto;
  top: 3px;
  margin-right: 3px;
}

.right-nav-list-dashboard {
  margin: 8px 20px;
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  color: #CADADA;
  font-size: 11px;
  font-weight: 600;
}

.username-header {
  position: relative;
  display: block;
  padding-right: 15px;
  padding-bottom: 5px;
  top: 2px;
  float: left;
}

.username-header:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 1px;
  border-bottom: 0;
  border-top: 4px solid #CADADA;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.username-header:hover {
  cursor: pointer;
}

.hidden-username-nav {
  position: absolute;
  display: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px black;
  width: 100px;
  padding: 8px 0;
  right: 0px;
  top: 18px;
  color: black;

  list-style-type: none;
}

.hidden-username-nav:before {
  content: "";
  position: absolute;
  top: -4px;
  right: 29px;
  border-top: 0;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.display-nav {
  display: block;
}

.username-header:hover .hidden-username-nav {
  display: block;
}

.hidden-username-nav > li {
  padding: 4px 0 4px 8px;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
}

.hidden-username-nav > li:hover {
  background: #EEF0F1;
}

.right-nav-list-dashboard > a {
  float: left;
  margin: 0 15px;
  padding: 2px;
}

.right-nav-list-dashboard > a:hover {
  text-decoration: underline;
}

.errors-header {
  display: block;
  position: fixed;
  padding: 5px 8px;
  color: #AD5E5C;
  background-color: rgba(255,231,231,.9);
  border: 1px solid#E77D7B;
  border-radius: 5px;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  white-space:nowrap;
}

.errors-header > button {
  font-size: 11px;
  padding: 2px 5px;
  text-shadow: 0 0 0;
  margin: 0 3px;
}

button.errors-reload-button {
  color: #76A958;
  background-color: #E7FFD6;
  border: 1px solid #92D971;
}

button.errors-ignore-button {
  color: #BF9E1B;
  background-color: #FFF6BF;
  border: 1px solid #FFD324;
}

button.errors-reload-button:hover {
  color: #76A958;
  background-color: #c8e4b3;
  border: 1px solid #84cf61;
}

button.errors-ignore-button:hover {
  color: #BF9E1B;
  background-color: #e7dda2;
  border: 1px solid #e9c01c;
}

.confirm-modal-message {
  font-size: 12px;
  font-weight: normal;
  display: block;
  padding: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.confirm-modal-buttons {
  height: 30px;
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  background: #fff;
}

.confirm-modal-confirm-button {
  font-size: 12px;
  background: #629200;
  color: #fff;
  border: 1px solid #4E8200;
  border-radius: 3px;
  float: left;
}

.confirm-modal-confirm-button:hover {
  color: #fff;
  background: #568000;
  border: 1px solid #467304;
}

.confirm-modal-cancel-button {
  background: #BD2C00;
  color: #fff;
  border: 1px solid #ac2b04;
  border-radius: 3px;
  font-size: 12px;
  float: right;
}

.confirm-modal-cancel-button:hover {
  background: #c83c11;
  color: #fff;
  border: 1px solid #ba3006;
}
