header.main-header {
  background: #fff;
}

.header-container {
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 860px;
}

.header-logo {
  float: left;
  padding: 10px 0;
  font-size: 22px;
  color: #517C9F;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.header-logo > img{
  width: auto;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.header-logo-inside {
  color: #DE752C;
}

.right-nav-list {
  float: right;
  width: 50%;
  min-width: 94px;
}

.right-nav-list li {
  float: right;
  padding: 10px 0;
  margin: 0 4%;
}

.right-nav-list a, span, button {
  display: inline-block;
  color: #426FA0;
  text-shadow: 0 0 1px #94D2ED;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px 8px;
  font-weight: 300;
}

.right-nav-list a:hover, button:hover {
  cursor: pointer;
  color: #1a3d61;
}

.right-nav-list span {
  color: #73b2c8;
}

.sign-up-link a{
  color: #fff;
  background: #F39E40;
  text-shadow: 0 0 0;
}

.sign-up-link a:hover{
  color: #fff;
  background: #EE7D00;
}

.session-header-message {
  margin: 5px 0 0 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

.session-header-message a{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
