.splash-page > img {
  max-width: 100%;
  height: auto;
  min-width: 700px;
  display: block;
  position: relative;
  opacity: 0.6;
  filter: blur(1.4px);
}

.splash-page {
  position: relative;
  background: #3187e0;
  border-top: 1px solid #7fb5ed;
  overflow: hidden;
  max-height: 550px;
}

.splash-page-text {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Merriweather', serif;
  width: 100%;
  text-shadow: 0 0 20px black;
}
