
.splash-page {
  position: relative;
  background: #b2d1f1;
  border-top: 1px solid #7fb5ed;
  border-bottom: 1px solid #7fb5ed;
  overflow: hidden;
  height: 100vh;
}

.splash-page > img {
  min-width: 2469px;
  min-height: 1029px;
  display: block;
  position: relative;
  opacity: 0.6;
  filter: blur(1.4px);
  margin: 0 auto;
  width: 100%;
}

img.blur {
  filter: blur(2.7px);
}

.splash-center-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.splash-page-text {
  display: block;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Merriweather', serif;
  width: 100%;
  text-shadow: 0 0 20px black;
  transition: opacity 0.7s;
}

.splash-page-footer {
  display: block;
  border-top: 3px solid #F39E40;
  background: #eee;
  width: 100%;
  color: #50565c;
  position: absolute;
  bottom: 0;
}

.splash-footer-logo {
  margin-left: 2%;
  color: #50565c;
  font-size: 12px;
  margin: 10px 20px;
  padding: 2px;
  font-weight: 400;
}

.splash-footer-logo > a:hover {
  text-decoration: underline;
  color: #899eb3;
}

.splash-footer-container > a {
  float: right;
  display: block;
  font-size: 12px;
  padding: 2px;
  margin: 10px 20px;
}

.splash-footer-container > a:hover {
  color: #899eb3;
  text-decoration: underline;
}

.splash-footer-container {
  max-width: 860px;
  margin: 0 auto;
}

.splash-get-started-button {
  display: block;
  width: 120px;
  color: #fff;
  text-align: center;
  margin: 30px auto;
  padding: 8px 10px;
  font-size: 18px;
  background: #F39E40;
  border-radius: 3px;
  font-weight: 300;
}

.splash-get-started-button:hover {
  background: #EE7D00;
}

.fade {
  opacity: 0;
}
